@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.container {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 10vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 10vh;
  border-top: 1px solid #b4b4b4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  margin: 0 5vw;
}
.header {
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid #b4b4b4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: visible;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
}

.header a {
  margin: 0 5vw;
}
.headerLinks {
  width: 80vw;
}
.hamburgerIcon {
  margin-right: 10%;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  max-width: 90vw;
}

.typing {
  font-family: "Lato", sans-serif;
  font-size: 5rem;
  margin-bottom: 5vh;
}

.icon {
  font-size: 225px;
}
.miniFlex ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  align-items: center;
  list-style: none;
}

.miniFlex li {
  font-size: 2.1rem;
}

.pageTitle {
  font-size: 2.5rem;
  margin-bottom: -2.5vh;
}
/* about */
.myPhoto {
  border-radius: 15px;
  max-width: 45%;
  max-height: 40vh;
  height: auto;
}

.aboutCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.aboutInfo {
  max-width: 45vw;
  font-size: 1.45rem;
  padding-left: 10%;
  margin-top: -1%;
}
.skillCont {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 2.5% 0;
}
.aboutSkill {
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
}
.left {
  border-left: 3px dotted rgb(53, 53, 53);
}
.right {
  border-right: 3px dotted rgb(53, 53, 53);
}
.aboutSkill li {
  list-style: none;
  font-size: 1.75rem;
}
.skillTitle {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
  text-align: center;
}
.aboutImg {
  max-width: 10vw;
  margin: 3.5% 15px;
}
.aboutIcons {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Animation */
.scaleInCenter {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/* Hovers */
.hoverAbout:hover {
  cursor: pointer;
  text-decoration: line-through;
  text-decoration-color: #4396e4;
}
.hoverResume:hover {
  cursor: pointer;
  text-decoration: line-through;
  text-decoration-color: #31d6bb;
}
.hoverPortfolio:hover {
  cursor: pointer;
  text-decoration: line-through;
  text-decoration-color: #e443ae;
}
.hoverContact:hover {
  cursor: pointer;
  text-decoration: line-through;
  text-decoration-color: #7b43e4;
}
.hoverEverything:hover {
  cursor: pointer;
  text-decoration: line-through;
  text-decoration-color: #ee5a20;
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    font-family: "Lato", sans-serif;
    min-height: 90vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .typing {
    font-family: "Lato", sans-serif;
    font-size: 1.85rem;
    margin-bottom: 5vh;
    margin-top: -10vh;
  }
  .miniFlex ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  .miniFlex li {
    margin: 1vh 0;
  }
  .headerLinks {
    margin-left: 7%;
  }
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
  }
  .myPhoto {
    border-radius: 15px;
    max-width: 80%;
    height: auto;
    max-height: 35vh;
    margin-top: 7.5%;
  }
  .pageTitle {
    margin-top: 5vh;
    margin-bottom: 1vh;
  }
  .aboutCont {
    justify-content: center;
    text-align: center;
  }
  .aboutInfo {
    margin-left: 0;
    padding: 0;
    max-width: 90vw;
    margin-top: 0;
  }
  .aboutIcons {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .aboutImg {
    max-width: 30vw;
    margin: 3.5% 15px;
  }
  .left {
    border-left: none;
  }
  .right {
    border-right: none;
  }
  .skillCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .aboutSkill {
    width: 90vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5vh auto;
  }

  .skillTitle {
    font-size: 2rem;
    font-family: "Lato", sans-serif;
  }
  .aboutSkill li {
    list-style: none;
    font-size: 2rem;
  }
}
