@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.container {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-top: 10vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projCont {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.projButtons {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
}
.projImg {
  max-height: 75vh;
}
.projTitle {
  border-radius: 15px;
  width: 10vw;
  text-align: center;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projItem {
  font-size: 2rem;
  list-style: none;
}
.projDesc {
  font-size: 1.5rem;
  margin-left: 5vw;
  text-align: center;
}
.infoTitle {
  text-align: center;
  font-size: 2.5rem;
}
.projInfoCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
}
.portLinks {
  margin: 0 5%;
  border-right: 3px double rgb(53, 53, 53);
  padding-right: 5%;
}
.gitHubCont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -1.5rem;
  width: 30vw;
}
.techUl {
  text-align: center;
}
.githubTxt {
  font-size: 1.5rem;
  margin-right: 2rem;
}
.githubTxt:hover {
  text-decoration: line-through;
  text-decoration-color: crimson;
}
/* Colors */
.colorHabit:hover {
  background: linear-gradient(to bottom, #197a62 5%, #156954 100%);
  box-shadow: inset 0px 1px 0px 0px #135a48;
}
.colorHabit:active {
  position: relative;
  top: 1px;
}
.colorHabit {
  background-color: #24ab89;
  box-shadow: inset 0px 1px 0px 0px #209e7f;
  background: linear-gradient(to bottom, #24ab89 5%, #197c63 100%);
  border-radius: 6px;
  border: 1px solid #0c3a2f;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.25rem;
  padding: 6px 24px;
  width: 15vw;
  text-decoration: none;
  text-shadow: 0px 1px 0px #05815c;
  font-family: "Lato", sans-serif;
}
.colorGoat {
  background-color: #7e5bcf;
  box-shadow: inset 0px 1px 0px 0px #a954da;
  background: linear-gradient(to bottom, #7e5bcf 5%, #5834ac 100%);
  border-radius: 6px;
  border: 1px solid #1e0c3a;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 1.25rem;
  padding: 6px 24px;
  width: 15vw;
  text-decoration: none;
  text-shadow: 0px 1px 0px #540581;
  font-family: "Lato", sans-serif;
}
.colorGoat:hover {
  background: linear-gradient(to bottom, #845fda 5%, #744ece 100%);
  box-shadow: inset 0px 1px 0px 0px #7e56da;
}
.colorGoat:active {
  position: relative;
  top: 1px;
}
/* Mobile */
@media (max-width: 600px) {
  .container {
    font-family: "Lato", sans-serif;
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 10vh;
  }
  .main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .projCont {
    display: flex;
    width: 80vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 5% auto;
  }
  .projInfoCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 70vw;
    margin: 12.5% auto;
  }
  .colorHabit {
    width: 35vw;
    margin: 5% 5% -7.5% 5%;
    padding: 26px 34px;
  }
  .colorGoat {
    width: 35vw;
    margin: 5% 5% -7.5% 5%;
    padding: 26px 34px;
  }
  .portLinks {
    border-right: none;
  }
  .gitHubCont {
    display: flex;
    text-align: center;
  }
  .techCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0%;
  }
  .projDesc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0%;
  }
  .mobileDescr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .techUl {
    text-align: center;
    margin-left: -1rem;
  }
}
